rvl_alias "ODCK" "ODCK";
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "DE " SITE "AD1" ;
LOCATE COMP "Vsync" SITE "AA1" ;
LOCATE COMP "Hsync" SITE "AD2" ;
LOCATE COMP "ODCK " SITE "U20" ;



//LOCATE COMP "clk_125M" SITE "M3" ;
//FREQUENCY PORT "clk_125M" 125.000000 Mhz;



BLOCK JTAGPATHS;
