rvl_alias "odck" "odck";

COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK INTERCLOCKDOMAIN PATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;

#
# Infrastructure signals
#

LOCATE COMP "ODCK" SITE "U20" ;
IOBUF PORT "ODCK" IO_TYPE=LVCMOS33 ;


LOCATE COMP "Clk_FPGA" SITE "M3" ;
FREQUENCY PORT "Clk_FPGA" 125.000000 MHz ;

#
# Standard IOs
#
LOCATE COMP "Hsync" SITE "AD2" ;
IOBUF PORT "Hsync" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "DE" SITE "AD1" ;
IOBUF PORT "DE" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "Vsync" SITE "AA1" ;
IOBUF PORT "Vsync" IO_TYPE=LVCMOS33 PULLMODE=UP ;



BLOCK JTAGPATHS;
