rvl_alias "Clk148_5Mhz" "Clk148_5Mhz";
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "vid_format[0]" SITE "U2" ;
LOCATE COMP "vid_format[1]" SITE "V1" ;


LOCATE COMP "clk_125M" SITE "M3" ;
FREQUENCY PORT "clk_125M" 125.000000 Mhz;
LOCATE COMP "TOP_LEVEL" SITE "PCSB" ;


BLOCK JTAGPATHS;
